body {
    font-family: 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    margin: 0;
    color: #fff;
}

.stopwatch-container {
    text-align: center;
    width: 300px;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #34495e;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px auto;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

#display {
    font-size: 32px;
}

.buttons {
    display: flex;
    justify-content: center;
}

.buttons button {
    font-size: 20px;
    padding: 15px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    color: white;
    background: #2c3e50;
    transition: background 0.3s, transform 0.2s;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons button:hover {
    transform: scale(1.1);
}

.buttons button:focus {
    outline: none;
}

#start{ background-color: #27ae60;}
#pause { background-color: #e74c3c; }
#reset { background-color: #2980b9; }
#lap { background-color: #f39c12; }

.laps {
    margin-top: 20px;
    text-align: left;
}

.laps h2 {
    margin-bottom: 10px;
}

.laps ul {
    list-style: none;
    padding: 0;
    max-height: 150px;
    overflow-y: auto;
}

.laps ul li {
    background: #2c3e50;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #ecf0f1;
}
